露の玉章
とよあしはらのうこきなきいわとひらる
そめて日にむかふ国なるたかちほのみね
しろしめすあかたさつかふまつれる三井の
あかしあつさゆみやたけきいきほひかゝ
やけるのみならす藤氏のなかきかつらの
ことの葉しけき御かけのかしこき
御家の風をつたへていわけなきとき」
しきしまの道をふみそめふもとのちか
ひちよりあまくもかゝるまく山路の露
わるのほるこゝろさしふかくものした
まひてとはにこととふともかきにまし
わかくも玉ゆらもわかのうらにこゝろを
よするかたをなみせにしたしみたかくて
ことの心わきかたきみちのはてなる
ひたちおひのかそをかけ野中のしみつ」
くみしれるくをはもすのくさろきのあととを
くとこの山と口かためおとなし川のすゑ
とをる心なんたかはすつねにそのおもむきの
たゝしきをむかへて琴の緒たつはかり心
のゝこゐ見もゝ見えねうれはあしきのへたて
なきまゝにほけこゝちにまかれる滝
のふちにかくせる玉のことの葉を世人に
もうすへきならねはひとりこちひとり
たのしめることくさありよしあしはなにか
ひとならねははまおきの風にたにきゝおよ
はぬすちをたつきとすれはこのめるひとの
まへにはほたる日のかゝやくはかり道たと
つえにもなら人かしといにしへいまのかし
こきよゝのはしめにゑらはれし貫之か
序説二重録歌仙の伝三？鳥三木
一草なと代にひめおきしことゝもに」
又はいせ大和源氏の三の物かたりにひめ
出けるしな武士の八十うちひとの求
にてうし見るあつまかゝの中にある
所なとひとつ／＼ひろふこのこの花咲
みなるこゝろのそのにたねまくわさをも
口つからかたり侍るちかきころ西の海
あふきのしほちに船よりひして
秋立風にきけひひかしのみちに」
駒をすゝめてきりはらわみる主明月の
笠かたふくる鈴のつかれのすさみにもや
ととりあつめむよのはなむけにかきお
しるいとわか道にたつねいらんもくらふ山
たと／＼しく梅か香にこけのしほかを
しるはかりをほいとするならひなれは
雲の上とをくつちくれにのみすまひ
かやの（か）のきはに雨もりなにのふくしる」
へなけれはあかつき山郭公も聲きく
ゆめのたゝちもむなしく空とふかり
のふみのことはもつたなくたかせふね
さしてそこといわ波のよりへしられぬを
さたかにしるのみをひとつのたからと
おもほしぬれと口につたへみゝあ
